@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

* {
  font-size: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



.back-to-top {
  animation: fadeinbottom .5s ease-in-out;
}

@keyframes fadeinbottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

